.proyects-container{
    padding: 5rem 0;
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.udemy-container{
    display: flex;
}

.udemy-imagen{
    height: 300px;
}

.oracle-container{
    display: flex;
}

.oracle-imagen{
    height: 300px;
    width: 150px;
}

