.habilidades {
  padding: 5rem 0;
  z-index: 1;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container h1 {
  text-align: center;
}



  .tag-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  #stage {


    margin: 150px auto;
    width: 900px;
    height: 900px;
    /*
          
          Setting the perspective of the contents of the stage
          but not the stage itself
          
          */
          -webkit-perspective: 20000;
          -moz-perspective: 800;
    display: flex;
  }
  
  #rotate-1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    width: 575px;
    /* height: 400px; */
    /* Ensure that we're in 3D space */
    transform-style: preserve-3d;
    -webkit-transform: rotateX(30deg);
    /* -moz-transform: rotateX(30deg); */
    
    /* transform: rotate(45deg);
    transform-origin: top left; */
    /*
          Make the whole set of rows use the x-axis spin animation
          for a duration of 7 seconds, running infinitely and linearly
          */
    /* -webkit-animation-name: x-spin;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; */
  }

  #rotate-2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 575px;
    height: 400px;
    /* Ensure that we're in 3D space */
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-7deg);
    /*
          Make the whole set of rows use the x-axis spin animation
          for a duration of 7 seconds, running infinitely and linearly
          */
    /* -webkit-animation-name: x-spin;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; */
  }

  #rotate-3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 575px;
    height: 400px;
    /* Ensure that we're in 3D space */
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-30deg);
    /* transform: rotate(-45deg);
    transform-origin: center; */
    /*
          Make the whole set of rows use the x-axis spin animation
          for a duration of 7 seconds, running infinitely and linearly
          */
    /* -webkit-animation-name: x-spin;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; */
  }
  
  .ring {
    margin: 0 auto;
   /*  height: 110px;
    width: 500px; */
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
 /*  .ring >:nth-child(odd) {
    background-color: #995C7F;
  }
  
  .ring >:nth-child(even) {
    background-color: #835A99;
  } */
  
  

  

  @keyframes y-color1 {
    0%{
      opacity: 0.325;
    }
    25%{
      opacity: 0.1;
    }
    75%{
      opacity: 1;
    }
    100%{
      opacity: 0.325;
    }
    
    
    
  }
 
  @keyframes y-color2 {
    0%{
      opacity: 0.145;
    }  
    5%{
      opacity: 0.1; 

    }
    55% {
      opacity: 1;       
    }
    
    100%{
      opacity: 0.145;
    } 
  }

  @keyframes y-color3 {
    0%{
      opacity: 0.585;
    }
    35% {
      opacity: 1;
    }
    85%{
      opacity: 0.1;
    }
    100%{
      opacity: 0.585;
    }
  }

  @keyframes y-color4 {
    0%{
      opacity: 0.765;
    }
    15% {
      opacity: 1;
    }
    55%{
      opacity: 0.1;
    }
    100%{
      opacity: 0.765;
    }
    
  }

  @keyframes y-color5 {
    0%{
      opacity: 0.855;
    }
    45%{
      opacity: 0.1;
    }
    95%{
      opacity: 1;
    }
    100%{
      opacity: 0.855;
    }
  }

  img{
    width: 75px;
    
  }

  .poster {
    position: absolute;
    left: 244px;
    width: 75px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
  }

  .poster:nth-child(1){
    transform: rotateY(72deg) translateZ(350px);
    animation-name: y-color1;
  }
  
  .poster:nth-child(2){
    transform: rotateY(144deg) translateZ(350px);
    animation-name: y-color2;

  }

  .poster:nth-child(3){
    transform: rotateY(216deg) translateZ(350px);
    animation-name: y-color3;

  }

  .poster:nth-child(4){
    transform: rotateY(288deg) translateZ(350px);
    animation-name: y-color4;

  }
  .poster:nth-child(5){
    transform: rotateY(360deg) translateZ(350px);
    animation-name: y-color5;

  }

  
  
  
  /*
        Set up each row to have a different animation duration
        and alternating y-axis rotation directions.
        */
  
  #ring-1 {
    
    animation-name: y-spin;
    animation-duration: 10s;
  }
  
  #ring-2 {
    animation-name: y-spin;
    animation-duration: 10s;
  }
  
  #ring-3 {
    animation-name: y-spin;
    animation-duration: 10s;
  }
  
  
  
  
  @keyframes y-spin {
    0% {
      transform: rotateY(0deg);
      
    }
    50% {
      transform: rotateY(180deg);
      
    }
    100% {
      transform: rotateY(360deg);
      
    }
  }

  

  @keyframes y-spinb {
    0% {
      transform: rotateY(15deg);
    }
    50% {
      transform: rotateY(195deg);
    }
    100% {
      transform: rotateY(375deg);
    }
  }

  @keyframes y-spinb {
    0% {
      transform: rotateY(30deg);
    }
    50% {
      transform: rotateY(210deg);
    }
    100% {
      transform: rotateY(390deg);
    }
  }


































  @media only screen and (max-width: 705px) {

  
    
 
    
    
      .tag-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
      }
      
      #stage {
    
    
        margin: 1px auto;
        width: 360px;
        height: 360px;
      }
      
      #rotate-1 {
        width: 360px;

        transform-style: preserve-3d;
        transform: rotateX(30deg);
        
        
      }
    
      #rotate-2 {
        
    
        width: 360px;
        height: 400px;
        
        transform-style: preserve-3d;
        transform: rotateX(-7deg);
        
      }
    
      #rotate-3 {
        
    
        width: 360px;
        height: 400px;
     
        transform-style: preserve-3d;
        transform: rotateX(-30deg);
      }
      
      .poster {
        position: absolute;
        left: 157px;
        width: 30px;
        
      }
    
      
    
     /*  @keyframes y-color1 {
        0% {
          opacity: 0.1;
          background-color: none;
          
        }
        50%{
          opacity: 1;
        }
        
        100% {
          opacity: 0.1;
          
        }
      }
    
      @keyframes y-color2 {
        0%{
          opacity: .88;
        }
        40%{
          opacity: 0.1;
        }
        90% {
          opacity: 1;      
        }
        100%{
          opacity: .88;
        }
        
        
      }
    
      @keyframes y-color3 {
        0%{
          opacity: .88;
        }
        40%{
          opacity: 0.1;
        }
        90% {
          opacity: 1; 
          background-color: red;     
        }
        100%{
          opacity: .88;
        }
      } */
    
      img{
        width: 40px;
        
      }

      .poster:nth-child(1){
        
        transform: rotateY(72deg) translateZ(160px);
        animation-name: y-color1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    
      }
      
      .poster:nth-child(2){
        
        transform: rotateY(144deg) translateZ(160px);
        animation-name: y-color2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    
      }
    
      .poster:nth-child(3){
        
        transform: rotateY(216deg) translateZ(160px);
    
      }
    
      .poster:nth-child(4){
        
        transform: rotateY(288deg) translateZ(160px);
    
      }
      .poster:nth-child(5){
        
        transform: rotateY(360deg) translateZ(160px);
    
      }
    
      
      
     
      
      
      
      #ring-1 {
        
        animation-name: y-spin;
        animation-duration: 10s;
      }
      
      #ring-2 {
        animation-name: y-spin;
        animation-duration: 10s;
      }
      
      #ring-3 {
        animation-name: y-spin;
        animation-duration: 10s;
      }
      
      
      
      
      @keyframes y-spin {
        0% {
          transform: rotateY(0deg);
          
        }
        50% {
          transform: rotateY(180deg);
          
        }
        100% {
          transform: rotateY(360deg);
          
        }
      }
    
      
    
      @keyframes y-spinb {
        0% {
          transform: rotateY(15deg);
        }
        50% {
          transform: rotateY(195deg);
        }
        100% {
          transform: rotateY(375deg);
        }
      }
    
      @keyframes y-spinb {
        0% {
          transform: rotateY(30deg);
        }
        50% {
          transform: rotateY(210deg);
        }
        100% {
          transform: rotateY(390deg);
        }
      }



  }
  
